.footer{
    margin-top: 15px;
    background-color: #282828;
    height: 400px;
}
.row{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.contact{
    color: white;
    width: 300px;
}

.contact-title{
    font-size: 25px;
    font-weight: 800;
    padding-top: 40px;
    text-align: center;
   width: 250px;
}
.contact-add{
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;

}
.contact-no{
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 60px;
}
.contact-email{
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 35px;
}

.time{
    padding-top: 40px;
}

.time-title{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: white;
}
.time-day{
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.better{
    padding-top: 40px;
    display: flex;
}
.better-title{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    color: white;
}
.feedback{
    border: 1px solid #fff;
    margin-left: 5px;
    font-size: 16px;
    color: black;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.app-store{
    text-align: center;    
}
.app-s{
    height: 15%;
    width: 15%;
}